---
name: YAML Checks

on:  # yamllint disable-line rule:truthy
  workflow_call:
    inputs:
      python-version:
        description: "Python version to use"
        required: false
        default: "3.x"
        type: string
      yamllint-config-filename:
        description: "Yamllint config filename"
        required: false
        default: "configs/yamllint.yaml"
        type: string

jobs:
  quality-gate:
    permissions:
      contents: read
      pull-requests: read
      # checks: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout default branch
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c  # v6.0.0
        with:
          python-version: ${{ inputs.python-version }}
      - name: Install yamllint
        run: |
          pip3 install yamllint
      - name: Lint YAML files
        id: yamllint
        env:
          YAMLLINT_CONFIG_FILE: ${{ inputs.yamllint-config-filename }}
        run: |
          yamllint .
      - name: Format and print GH step summary
        if: always()
        run: |
          echo "| Key | Value |" >> $GITHUB_STEP_SUMMARY
          echo "|:--|:--|" >> $GITHUB_STEP_SUMMARY
          echo "| **yamllint** | ${{ steps.yamllint.outcome }} |" >> $GITHUB_STEP_SUMMARY
